@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pipeline working!!!!!!!!!!!!!!!!!! Change to pipeline</a>.</p>
</div>
